<div class="jumbotron">
  <span>
 <div class="card"> 

  <h5 class="card-header info-color white-text text-center py-4">
      <strong>Get Stock Data</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center" style="color: #757575;">

          <!-- Name -->
          <div class="md-form mt-3">
              <input type="text" id="materialContactFormName" class="form-control">
              <label for="materialContactFormName">Symbol</label>
          </div>

          <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Send</button>

      </form>
      <!-- Form -->

  </div>

</div>
</span>
  <span>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </span>
</div>
<!-- Material form contact -->