div{
    margin: 25px;
    align-content: center;
}
.jumbotron {
    align-content: center;
    display:inline-block
}
.card{
    width: 400px;
    align-content: center;
    display:inline-block
}
li {
    display: inline;
  }

#stockblock {
    color: blue;
}